@font-face {
    font-family: 'Shkoder Light';
    src: url(Fonts/Shkoder\ 1989\ Light.otf);
}

@font-face {
    font-family: 'Shkoder Black';
    src: url(Fonts/Shkoder\ 1989\ Black.otf);
}

@font-face {
    font-family: 'REVOLUTION';
    src: url(Fonts/REVOLUTION.ttf);
}

*{
    margin: 0;
    padding: 0;
}

.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: REVOLUTION;
    animation: strobe infinite 100ms;
}

@keyframes strobe {
    0% {
        color: white;
        background-color: red;
    }
    50% {
        color: red;
        background-color: white;
    }
    100% {
        color: white;
        background-color: black;
    }
}












